*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}
body{
    color: #222;
    background-color: #fff;
}
header{
    background:#000;
    color: #fff;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0 0 20px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 700;
    font-size: 1.3rem;
}
.link{
    list-style: none;
    gap:1.5rem;
    display: flex;
    
}
.link a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}
.link a:hover{
    color: #fba26b;
}
.hero{
    text-align: center;
    padding: 5rem 10%;
    background: linear-gradient(180deg,#fff,#f8f8f8);
}
.hero h2{
    font-size: 2rem;
    font-weight: 700;
    margin:1rem 0;
}
.highlight{
    color: #ff8c42;
}
.hero .desc{
    max-width: 700px;
    margin: 0 auto 2rem;
    color: #555;
}
.herobuttons a{
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-weight: 500;
    margin: 0.5rem;
    display: inline-block;
    transition: 0.3s;
    
}
.btn-primary{
    background-color: #ff8c42;
    color: #fff;
}
.btn-primary:hover{
    background-color: #e46c25;
}
.btn-outline{
    border: 2px solid #ff8c42;
    color: #ff8c42;
}
.btn-outline:hover{
    background-color: #e46c25;
    color: #fff;
}
.sep{
    border-top: 2px dashed rgba(22, 23, 5, 0.12);
    margin: 26px 48px;
}
.about{
    padding: 5rem 10%;
    background: #fff;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.about-img{
    width: 300px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.about-text{
    flex:1;
}
.about-text h2{
    font-size: 2rem;
    margin-bottom: 1rem;   
}
.skills{
    margin-top: 1.5rem;
}
.skill{
    margin-bottom: 1rem;
}
.bar{
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.bar span{
    display: block;
    height: 100%;
    background: #ff9c42;
    border-radius: 10px;
}
.services{
    background: #f8f8f8;
    text-align: center;
    padding: 5rem 10%;
}
.services-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    margin-top: 2rem;
}
.service-card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    max-width: 300px;
    transition: 0.3s;
}
.service-card:hover{
    transform: translateY(-8px);
}
.service-card img{
    width: 50px;
    margin-bottom: 1rem;
}
.projects{
    padding: 5rem 10%;
    text-align: center;
    background-color: linear-gradient(180deg, #fff, #f5f5f5);
}
.projects h2{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}
.subtitle{
    color: #555;
    margin-bottom: 2.5rem;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 2rem;
    margin-bottom: 2.5rem;
    
}
.project-card{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    background: #fff;
    text-align: left;
}
.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rga(0,0,0,0.15);
}
.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.project-card:hover img{
    transform: scale(1.05);
}
.project-info{
    padding: 1.5rem;
}
.project-info h3{
    color:#000;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.project-info p{
    color: #555;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.btn-project{
    text-decoration: none;
    color:#ff8c42;
    font-weight: 600;
    transition: 0.3s;
}
.btn-project:hover{
    color: #e46c25;
}
@media(max-width:768px){
    .project-card img{
        height: 180px;
    }
    .project-info h3{       
        font-size: 1.2rem;
    }
}
.contact{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 4rem 10%;
    border-radius: 30px 30px 0 0;
}
.contact h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.contact p{
    color:#bbb;
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}
.contact a{
    color: #ff8c42;
    text-decoration: none;
}
.social-links a{
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}
.social-links a:hover{
    color: #ff8c42;
}
.contact-form {
    flex:1;
    min-width: 320px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.contact-form input,.contact-form textarea{
    width: 100%;
    background: rgba(255,255,255,0.1);
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: 0.3s;
}
.contact-form input:focus , .contact-form textarea:focus{
    background: rgba(255,255,255,0.2);
    border: 1px solid #ff8c42;
}
.contact-form button{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background: #ff8c42;
    border:none;
    border-radius: 8px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact-form button:hover{
    background: #ffa95c;
    transform: translateY(-2px);
}
footer{
    background: #111;
    color: #999;
    text-align: center;
    padding: 1rem;
}
#scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #ff8c42;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
    transition: 0.3s;
}
